@use './variables';

.wrapper {
    // max-width: 1170px;
    // width: 100%;
    // margin: 0 auto;

        max-width: 1440px;
        width: 90%;
        margin: 0 auto;
    
}

img {
    max-width: 100%;
    flex-shrink: 0;
}

// Stripping styles
body,
h1,
h2,
h3,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}