@use './variables';

header {
    background-image: url(../assets/newheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 500px;
}

nav ul {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

ul li {
    list-style: none;
}

nav a {
    text-decoration: none;
    padding: 40px;
    color: black;
}

a:hover,
a:focus {
    border: 2px dotted black;
}

h1 {
    text-align: center;
    padding: 50px 0px 10px 0px;
    font-size: 4em;
}

.headerP {
    text-align: center;
    padding-bottom: 50px;
    font-size: 1.5rem;
}

.headerP::after {
    background-color: #93E9BE;
    content: "";
    width: 20%;
    position: absolute;
    display: block;
    height: 0.2rem;
    left: 40%;
}