@use './variables';

h2 {
    text-align: center;
    padding: 60px 50px 30px 50px;
    text-transform: uppercase;
    font-size: 2em;
}

h2::after {
    background-color: variables.$accentColour;
    content: "";
    width: 12%;
    position: absolute;
    display: block;
    height: 0.2rem;
    left: 44%;
}

.wave {
    font-size: 1.6em;
}

.aboutTextContainer {

    p {
    text-align: left;
    font-size: 1.2em;
    margin: 10px 20px 30px 0px;
    line-height: 1.5;
    }
}

.aboutContainer {
    display: flex;

    img {
        border-radius: 50%;
        width: 350px;
        height: 350px;
        margin-left: 40px;
        object-fit: cover;
    }
}

.aboutTextContainer {
    width: 60%;
    padding: 20px;
    font-size: 0.9em;
}

.aboutImgContainer {
    padding-bottom: 50px;
    width: 40%;
    padding: 20px;
    margin: 40px 30px 20px 0px;
}

.skills {
    background-image: url(../assets/darkpalm.jpg);
    background-size: 100%;

    p {
        color: white;
        font-family: variables.$primaryFont;
    }
}

.skillsIcons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    // row-gap: 40px;
    // grid-column-gap: 20px;
    padding: 50px;
    place-items: center;

    li {
        line-height: 4;
        padding: 20px;
    }


    i:hover {
        color: variables.$accentColour;
    }
}

.devIcon {
    color: white;
    font-size: 6em;
    text-shadow: 2px 4px 6px variables.$accentColour;
}

.devIconG, .devIconF {
    color: white;
    font-size: 7em;
    text-shadow: 2px 4px 6px variables.$accentColour;
}

.projects {
    margin: 0px 20px 0px 20px;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    background-color: variables.$backgroundColour;
    border-radius: 10px;
    margin: 40px;
}

.projectImgContainer, .projectTextContainer {
    width: 50%;
    padding: 40px;
    display: block;
    border-radius: 20px;
}

.projectTextContainer p {
    padding: 20px;
    text-align: left;
    font-size: 1.1em;
    line-height: 150%;
}

h3 {
    padding: 0px 0px 20px 20px;
    font-size: 1.8em;
}

.projectIcons, .contactIcons {
    display: flex;
    padding: 0px 20px 20px 10px;

    i {
        font-size: 2em;
        padding: 10px;
        text-align: center;
    }
}

.projectLinks {
    display: flex;
}

.projectLinks a {
    text-decoration: none;
    background-color: variables.$accentColour;
    color: black;
    border-radius: 5px;
    padding: 5px;
    font-family: variables.$primaryFont;
    margin: 20px;
}

.contact {
    background-image: url(../assets/darkpalm.jpg);
    background-size: 100%;
}

.contactContainer {
    display: flex;
}

.formContainer {
    width: 50%;
    padding: 50px;

    form {
        display: flex;
        flex-direction: column;
        text-align: center;

        input {
            margin: 20px 0px;
            border-radius: 5px;
            padding: 10px;
            opacity: 50%;
            color: black;
            font-weight: 600;
            font-family: inherit;
            font-size: 0.9em;
        }
    
        textarea {
            resize: none;
            margin: 20px 0px ;
            border-radius: 5px;
            padding: 10px;
            opacity: 50%;
            color: black;
            font-weight: 600;
            font-family: inherit;
            font-size: 0.9em;
            }
        }
}

.contactInfoContainer {
    width: 50%;
    padding: 50px;

    p {
        padding: 20px;
        font-size: 1.2em;
        background-color: variables.$backgroundColour;
        line-height: 150%;
    }
}

.contactButton {
    background-color: variables.$accentColour;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    margin-left: 100px;
    font-family: variables.$primaryFont;
    font-weight: 600;
}

.contactButton:hover,
.contactButton:focus {
    border: 2px dotted black;
}

.contactIcons {
    display: flex;

    a {
        border: none;
    }

    i {
        color: variables.$accentColour;
        font-size: 4em;
        margin: 20px 50px 0px 50px;
    }
}

.contactInfoContainer {
    margin-top: 50px;
}

footer {
    padding: 15px 0px 15px 0px;
}

footer p {
    text-align: center;
    font-size: 0.9em;
}

