@use './variables';

//DESKTOP STYLING

@media (max-width: 1085px) {

}

//TABLET STYLING

@media (max-width: 845px) {
    .aboutContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aboutImgContainer, .aboutTextContainer {
        width: 100%;
    }

    .aboutImgContainer img {
        margin-left: 250px;
        margin-right: 250px;
    }

    .aboutTextContainer p {
        text-align: center;
    }

    .projectImgContainer img {
        width: 100%;
        height: 100%;
    }
}

//MOBILE STYLING

@media (max-width: 560px) {

    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    header {
        background-size: 1300px;
    }

    nav a {
        padding: 20px;
    }

    .aboutImgContainer img {
        width: 100%;
        margin: 0;
        padding-left: 20px;
    }

    .skillsIcons {
        display: flex;
        flex-direction: column;
        // align-items: center;
        width: 100%;
        background-repeat: no-repeat;
        place-items: center;
    }

    .projectContainer {
        display: flex;
        flex-direction: column; 
        width: 100%;
        margin: 10px 0px 10px 0px;
    }

    .projectImgContainer, .projectTextContainer {
        width: 100%;
    }

    .projectLinks {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        li {
            padding: 20px;
        }
    }

    .contactContainer {
        display: flex;
        flex-direction: column;
    }

    .formContainer {
        width: 100%;
    }

    .contactButton {
        width: 100%;
        margin: 0;
    }

    .contactInfoContainer {
        width: 100%;
    }

    .contacticons {
        place-items: center;
        width: 100%;
        margin: 0px;
    }

    .navMenu {
        position: fixed;
        right: 100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        opacity: 70%;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .navMenu.active {
        left: 0;
    }

    .navItem {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        padding-top: 10px;
        position: relative;
        left: 170px;
    }
}

