.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

body,
h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../assets/newheader.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 500px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

ul li {
  list-style: none;
}

nav a {
  text-decoration: none;
  padding: 40px;
  color: black;
  font-size: 1.2em;
}

a:hover,
a:focus {
  border: 2px dotted black;
}

h1 {
  text-align: center;
  padding: 50px 0px 10px 0px;
  font-size: 4em;
}

.headerP {
  text-align: center;
  padding-bottom: 50px;
  font-size: 1.5rem;
}

.headerP::after {
  background-color: #93E9BE;
  content: "";
  width: 20%;
  position: absolute;
  display: block;
  height: 0.2rem;
  left: 40%;
}

h2 {
  text-align: center;
  padding: 60px 50px 30px 50px;
  text-transform: uppercase;
  font-size: 2em;
}

h2::after {
  background-color: #93E9BE;
  content: "";
  width: 12%;
  position: absolute;
  display: block;
  height: 0.2rem;
  left: 44%;
}

.wave {
  font-size: 1.6em;
}

.aboutTextContainer p {
  text-align: left;
  font-size: 1.2em;
  margin: 10px 20px 30px 0px;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutContainer img {
  border-radius: 60%;
  width: 300px;
  height: 300px;
  margin-left: 70px;
}

.aboutTextContainer {
  width: 60%;
  padding: 20px;
}

.aboutImgContainer {
  padding-bottom: 50px;
  width: 40%;
  padding: 20px;
  margin: 40px 30px 20px 0px;
}

.skills {
  background-image: url(../assets/darkpalm.jpg);
  background-size: 100%;
}
.skills p {
  color: white;
  font-family: "Cardo", serif;
}

.skillsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}
.skillsIcons li {
  padding: 70px;
}

.devIcon {
  color: white;
  font-size: 6em;
  text-shadow: 2px 4px 6px #93E9BE;
}

.devIconG, .devIconF {
  color: white;
  font-size: 7em;
  text-shadow: 2px 4px 6px #93E9BE;
}

.projects {
  margin: 0px 20px 0px 20px;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(41, 54, 49, 0.5);
  border-radius: 10px;
  margin: 40px;
}

.projectImgContainer, .projectTextContainer {
  width: 50%;
  padding: 40px;
  display: block;
  border-radius: 20px;
}

.projectTextContainer p {
  padding: 20px;
  text-align: left;
  font-size: 1.2em;
}

h3 {
  padding: 0px 0px 20px 20px;
  font-size: 1.8em;
}

.projectIcons, .contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px 20px 10px;
}
.projectIcons i, .contactIcons i {
  font-size: 2em;
  padding: 10px;
  text-align: center;
}

.projectLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectLinks a {
  text-decoration: none;
  background-color: #93E9BE;
  color: black;
  border-radius: 5px;
  padding: 5px;
  font-family: "Cardo", serif;
  margin: 20px;
}

.contact {
  background-image: url(../assets/darkpalm.jpg);
  background-size: 100%;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formContainer {
  width: 50%;
  padding: 50px;
}
.formContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.formContainer form input {
  margin: 20px 0px;
  border-radius: 5px;
  padding: 10px;
  opacity: 50%;
  color: black;
  font-weight: 600;
}
.formContainer form textarea {
  resize: none;
  margin: 20px 0px;
  border-radius: 5px;
  padding: 10px;
  opacity: 50%;
  color: black;
  font-weight: 600;
}

.contactInfoContainer {
  width: 50%;
  padding: 50px;
}
.contactInfoContainer p {
  padding: 20px;
  font-size: 1.5em;
  background-color: rgba(41, 54, 49, 0.5);
}

.contactButton {
  background-color: #93E9BE;
  border-radius: 5px;
  padding: 10px;
  width: 50%;
  margin-left: 100px;
  font-family: "Cardo", serif;
  font-weight: 600;
}

.contactButton:hover,
.contactButton:focus {
  border: 2px dotted black;
}

.contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactIcons i {
  color: #93E9BE;
  font-size: 4em;
  margin: 20px 50px 0px 50px;
}

footer p {
  text-align: center;
  font-size: 1.2em;
}

@media (max-width: 845px) {
  .aboutContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutImgContainer, .aboutTextContainer {
    width: 100%;
  }
  .aboutImgContainer img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutTextContainer p {
    text-align: center;
  }
}
@media (max-width: 560px) {
  nav a {
    padding: 20px;
  }
  .skillsIcons {
    padding-left: 100px;
  }
  .projectContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectImgContainer img {
    width: 100%;
  }
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0px;
}

body {
  font-family: "Cardo", serif;
}

main, footer {
  background-color: black;
  color: white;
}